:root {
  --font-family: "Rubik", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Kameron", sans-serif;
  --forth-family: "Montserrat", sans-serif;

  --main-color: #2d2d2d; /* Темний сірий для основного кольору */
  --accent-color: #ff7f50; /* Корал для акцентного кольору */
  --second-color: #eaeaea; /* Світлий сірий для додаткового кольору */

  --main-bg: #f9f9f9; /* Дуже світлий відтінок для фону */
  --second-bg-color: #4b0082; /* Насичений фіолетовий для додаткового фону */


}
